<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Bean definitions	-->
	
	<bean name="address" class="com.agkr.springiocdemo.Address">
		<property name="city" value="Hyderabad"/>
		<property name="state" value="Telangana"/>
		<property name="pinCode" value="502032"/>
	</bean>
	
	<!-- Creating bean using instance factory method -->
	<bean id="employee" class="com.agkr.springiocdemo.Employee">
		<property name="name" value="Gopi"/>
		<property name="eid" value="491856"/>
		<property name="address" ref="address"/>
	</bean>
	
	<bean id="address2" factory-bean="employee" 
		factory-method="createAddress">
	</bean>
	
	<!-- Creating bean using instance factory method -->
	<!-- 
	<bean id="employee" class="com.agkr.springiocdemo.Employee"
		factory-method="createEmployee">
	</bean>
	-->
	
	
	<!-- alias beans -->
	<alias name="employee" alias="emp" />
	

</beans>





